* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #690606;
    margin: 0;
}

.calculator {
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.calculator-screen {
    width: 100%;
    height: 80px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding: 20px;
    font-size: 2.5rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: border-box;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 20px;
    background-color: #000000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

button {
    height: 60px;
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

button:active {
    box-shadow: 0 5px #310202;
    transform: translateY(4px);
}

.operator {
    background-color: #e60e0e;
    color: white;
}

.equal-sign {
    background-color:  #e60e0e;
    color: white;
    grid-column: span 2;
}

.all-clear {
    background-color:  #e60e0e;
    color: white;
}

.decimal {
    background-color:  #e60e0e;
    color: white;
}

button:not(.operator):not(.equal-sign):not(.all-clear):not(.decimal) {
    background-color: #e0e0e0;
    color: #252525;
}